# Arquivos compilados do Python (Cache)
__pycache__/
*.py[cod]
*$py.class

# Banco de Dados Local
*portfolio.json

# Variáveis de ambiente e ambientes virtuais
.env
venv/
.venv/
env/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db